body {
  margin: 0;
  background: #1e1e1e;
  color: #fff;
  display: flex;
  flex-direction: column; /* Para poner el título arriba del canvas */
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Courier New', Courier, monospace;
}

canvas {
  border: 3px solid #fff;
  background: #000;
}